body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #B378D3;
}

.container {
    background-color: #ffffff;
    padding:20px;
}

#twitter-block {
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#twitter-block > i {
    font-size: 25px;
    padding-right: 10px;
}

#error-box {
    padding: 10px;
}